@import '~@angular/material/theming';

$mat-white: (
  500: white,
  contrast: (
    500: $black-87-opacity
  )
);

$mat-black: (
  500: black,
  contrast: (
    500: white,
  )
);

$md-Scrambler-theme: (
    50 : #fde8ea,
    100 : #fac5cb,
    200 : #f79fa8,
    300 : #f37885,
    400 : #f15b6a,
    500 : #ee3e50,
    600 : #ec3849,
    700 : #e93040,
    800 : #e72837,
    900 : #e21b27,
    A100 : #ffffff,
    A200 : #ffe3e4,
    A400 : #ffb0b4,
    A700 : #ff969c,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-login: (
    50 : #fefdfe,
    100 : #fdfbfb,
    200 : #fbf9f9,
    300 : #f9f6f7,
    400 : #f8f4f5,
    500 : #f7f2f3,
    600 : #f6f0f1,
    700 : #f5eeef,
    800 : #f3eced,
    900 : #f1e8ea,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-Oakrootdark: (
  50: #ECECEE,
  100: #C5C6CB,
  200: #9EA1A9,
  300: #7D818C,
  400: #5C616F,
  500: #3C4252,
  600: #353A48,
  700: #2D323E,
  800: #262933,
  900: #1E2129,
  A100: #C5C6CB,
  A200: #9EA1A9,
  A400: #5C616F,
  A700: #2D323E,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: white,
    400: white,
    500: $white-87-opacity,
    600: $white-87-opacity,
    700: $white-87-opacity,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: $white-87-opacity,
    A400: $white-87-opacity,
    A700: $white-87-opacity,
  )
);

// Palettes
$primary: mat-palette($md-Scrambler-theme);
// $accent: mat-palette($mat-light-blue, 600, 400, 700);
$warn: mat-palette($mat-red);
$yellow: mat-palette($mat-yellow);
$success: mat-palette($mat-green, 500);
$accent:mat-palette($md-login);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary, $accent, $warn);

$background: map-get($theme, background);
$foreground: map-get($theme, foreground);
